.well
  %ul.nav.nav-tabs{ :data => { :tabs => 'tabs' } }
    %li.active
      %a{ :href => '#login', :data => { :toggle => 'tab'} } Einloggen
    %li
      %a{ :href => '#create', :data => { :toggle => 'tab'} } Registrieren
  .tab-content
    #login.tab-pane.active.in
      %form.form-horizontal{ :method => 'POST' }
        %fieldset
          .legend
            %legend Einloggen
          .control-group
            %label.control-label{ :for => 'email' } E-Mail Adresse
            .controls
              %input#email.input-xlarge{ :name => 'email', :type => 'text'}
          .control-group
            %label.control-label{ :for => 'password' } Passwort
            .controls
              %input#password.input-xlarge{ :name => 'password', :type => 'password'}
          .control-group
            .controls
              %button.btn.btn-success Einloggen
    #create.tab-pane.fade
      %form.form-horizontal{ :method => 'POST' }
        %fieldset
          .legend
            %legend Registrieren
          .control-group
            %label.control-label{ :for  => 'email' } E-Mail Adresse
            .controls
              %input#email.input-xlarge{ :name => 'email', :type => 'text'}
          .control-group
            %label.control-label{ :for => 'password' } Passwort
            .controls
              %input#password.input-xlarge{ :name => 'password', :type => 'password'}
          .control-group
            .controls
              %button.btn.btn-success Registrieren 
