.row
  .span12= yield
.row
  .span12
    #gallery
      - sort_images(@item[:images]).each do |image|
        %a{ :href => "#{image[:original]}" }
          %img{ :src => "#{image[:thumbnail]}" }
%script
  $('#gallery').photobox('a', { thumbs:true });
