---
title: Hochladen 
---

%link{ :rel => 'stylesheet', :href => '//cdnjs.cloudflare.com/ajax/libs/file-uploader/3.1.1/fineuploader.min.css', :type => 'text/css' }   
%script{ :src => '//cdnjs.cloudflare.com/ajax/libs/file-uploader/3.1.1/jquery.fineuploader.min.js' }

.row
  .span12
    #uploader
    :javascript
      function get_album_id()
      {
        var regex = /\/gallery\/(.*)\/upload\/$/;
        var results = regex.exec( window.location.href );
    
        if ( results == null )
          return "";
        else
          return results[1];
      }
    
      $(document).ready(function() {
        $('#uploader').fineUploader({
          request: {
            endpoint: '/gallery/upload_helper.php',
            params: {
              album: get_album_id()
            }
          },
          validation: {
            allowedExtensions: ['jpeg', 'jpg'],
            sizeLimit: 20971520, // 20 MiB
          },
          text : {
            uploadButton: 'Bilder hochladen',
          },
          failedUploadTextDisplay: {
            mode: 'custom',
            maxChars: 40,
            responseProperty: 'error',
            enableTooltip: true
          }
        });
      });
      
